#welcome_div{
  height: 100%;
  background-color:#01D299;
  text-align:center
}
#welcome_div h2{
  position: relative;
  top: 35%;
  color: white;
}
#welcome_div h3{
  position: relative;
  top: 50%;
  left: 10%;
  color: white;
}

#bk{
  width: 140px;
  height: 140px;

}
